body{
    background-image: linear-gradient(90deg, #fb402f, #7e0202);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-attachment: fixed;
    display: block;
    text-align: center;
    justify-content: flex-end;
}

h1{
    color: rgb(255, 255, 255);
}

img{
    width:400px;
}

#thirdDiv{
    width:500px;
    height:600px;
    background-color: rgba(255, 0, 0, 0.966);
    padding:50px;
    border: solid 5px black;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}